target/classes/postcustomerdetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="post:/CustomerDetails:application/json:CustomerDetails-config">
		<dw:transform-message doc:name="Converting the Input Payload to Java Object">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
		</dw:transform-message>
        <logger message="Message Payload Received: #[payload]" level="INFO" doc:name="Logger"/>
		<set-variable variableName="httpRequest"
			value="#[message.inboundProperties.host]#[message.inboundProperties.'http.request.uri']"
			doc:name="Set HTTP Request" />
		<set-variable variableName="inputCustomerName" value="#[payload.customerName]"
			doc:name="Set Customer Name" />
		<dw:transform-message doc:name="Transform Payload to Mongo DB Object">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	
    "customerName" : payload.customerName,
    "email" : payload.customerEmail,
    "mobile" : payload.customerContact,
    "address":payload.customerAddress,
    "industry" : payload.industry,
    "createdTimeStamp":now
}]]></dw:set-payload>
		</dw:transform-message>
		<object-to-string-transformer doc:name="Object to String" />
        <logger message="Transformed Payload to Insert MongoDB: #[payload]" level="INFO" doc:name="Logger"/>
		<mongo:insert-object config-ref="Mongo_DB"
			collection="${mongodb.customerdetails.collection}" doc:name="Insert MongoDB Object" />
		<set-variable variableName="setMongoPayload" value="#[payload]"
			doc:name="Set MongDB Response" />
        <logger message="MongoDb Response: #[payload]" level="INFO" doc:name="Logger"/>
		<flow-ref name="GmailNotification" doc:name="GmailNotification" />
        <logger message="Sent a Gmail Message Notificaiton:#[payload]" level="INFO" doc:name="Logger"/>
		<dw:transform-message doc:name="Send the response">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{"customerId":flowVars.setMongoPayload}]]></dw:set-payload>
		</dw:transform-message>
	</flow>
</mule>
